<div class="main-container">
  <!--<div class="alert alert-app-level">-->
    <!--...-->
  <!--</div>-->
  <header class="header header-6">
    ...
  </header>
  <!--<nav class="subnav">-->
    <!--...-->
  <!--</nav>-->
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">

        <a [routerLink]="['/']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="nav-link active">Home
        </a>

        <ng-container *ngFor="let r of myroutes">

          <a *ngIf="!r.hasOwnProperty('children')"
             [routerLink]="['/', r.path]"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             class="nav-link active">
            {{r.data?.name ? r.data.name : r.path}}
            <!--{{r.path}} {{r.data?.name}}-->
          </a>

          <section *ngIf="r.hasOwnProperty('children')" class="nav-group collapsible">
            <input [id]="r.path" type="checkbox">
            <label [for]="r.path">{{r.path}}</label>
            <ul *ngFor="let c of r.children" class="nav-list">
              <li><a [routerLink]="[r.path, c.path]"
                     routerLinkActive="active"
                     [routerLinkActiveOptions]="{exact: true}"
                     class="nav-link"> {{c.data?.name ? c.data.name : c.path}}
              </a></li>
            </ul>
          </section>
        </ng-container>
      </section>
    </nav>
  </div>
</div>
<!--routes: <pre>{{myroutes | json}}</pre>-->
<ul *ngFor="let r of myroutes">
  <li><a [routerLink]="[r.path]"
         routerLinkActive="active">{{r.path}}</a>

    <span *ngIf="r.hasOwnProperty('children')">
    <ul *ngFor="let c of r.children">
      <li><a [routerLink]="[r.path]"
             routerLinkActive="active">{{c.path}}</a></li>
    </ul>
  </span>

  </li>
</ul>

<br>
<br>
