<div class="main-container">
  <!--<div class="alert alert-app-level">-->
  <!--...-->
  <!--</div>-->
  <header class="header header-7">
    <div class="branding">
      <a [routerLink]="['/']" class="nav-link">
        <clr-icon shape="flame" class="is-solid"></clr-icon>
        <span class="title">ngx-samples</span>
      </a>
    </div>
  </header>
  <!--<nav class="subnav">-->
  <!--...-->
  <!--</nav>-->
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">

        <!--<a [routerLink]="['/']"-->
           <!--routerLinkActive="active"-->
           <!--[routerLinkActiveOptions]="{exact: true}"-->
           <!--class="nav-link active">Home-->
        <!--</a>-->

        <ng-container *ngFor="let r of myRoutes">

          <a *ngIf="!r.hasOwnProperty('children')"
             [routerLink]="['/', r.path ? r.path : '/']"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             class="nav-link active">
            {{r.data?.name ? r.data.name : r.path}}
            <!--<span [@pulseInOut] *ngIf="(r.path === 'state' && this.userCount)" class="badge badge-info">{{this.userCount}}</span>-->
            <!--{{r.path}} {{r.data?.name}}-->
          </a>

          <section *ngIf="r.hasOwnProperty('children')" class="nav-group collapsible">
            <input [id]="r.path" type="checkbox">
            <label [for]="r.path">
              {{r.path}}
              <span [@pulseInOut] *ngIf="(r.path === 'ngxs' && this.userCount)" class="badge badge-info">{{this.userCount}}</span>
              <span (@pulseInOut.done)="onAnimationDone($event)"
                    (@pulseInOut.start)="onAnimationStart($event)"
                    [@pulseInOut] *ngIf="(r.path === 'route' && this.badges.data.list.amount)" class="badge">{{this.badges.data.list.amount}}</span>
            </label>
            <ul *ngFor="let c of r.children" class="nav-list">
              <li *ngIf="c.data?.name" style="white-space: nowrap; display: inline;">
                <a [routerLink]="[r.path, c.path]"
                   routerLinkActive="active"
                   class="nav-link"> {{c.data?.name ? c.data.name : c.path}}
                </a>
              </li>
            </ul>
          </section>
        </ng-container>
      </section>
    </nav>
  </div>
</div>
