<div class="toggle-switch">
  <input type="checkbox" [(ngModel)]="slideShow" (click)="toggleSlideShow()" id="toggleSlideShow">
  <label for="toggleSlideShow">Slideshow</label>
</div>

<div *ngIf="toggle"
     [@flyInOut]="toggle"
     (@flyInOut.done)="onAnimationDone($event)"
     class="card">
  <div class="card-header">
    Company
  </div>
  <div class="card-block">
    <div class="card-title">
      {{routeData.dataItem.companyName}}
    </div>
    <div class="card-text">
      <table class="table" style="margin-top: 0;">
        <tbody>
        <tr>
          <td class="left" style="width: 20px;">
            <clr-icon shape="building"></clr-icon>
          </td>
          <td class="left">
            {{routeData.dataItem.streetAddress}}<br>
            {{routeData.dataItem.zipCode}} {{routeData.dataItem.city}}<br>
            {{routeData.dataItem.country}}
          </td>
        </tr>
        <tr>
          <td class="left">
            <clr-icon shape="phone-handset"></clr-icon>
          </td>
          <td class="left">
            {{routeData.dataItem.phoneNumber}}
          </td>
        </tr>
        <tr>
          <td class="left">
            <clr-icon shape="map"></clr-icon>
          </td>
          <td class="left">
            {{routeData.dataItem.geoLocation.lat}}, {{routeData.dataItem.geoLocation.lon}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer" *ngIf="!slideShow">
  <button (click)="prev()" class="btn btn-sm btn-link">< Previous</button>
  <button style="float: right" (click)="next()" class="btn btn-sm btn-link">Next ></button>
  </div>
</div>

