<h2>Custom decorators</h2>
<router-outlet></router-outlet>

<!--<div style="position: relative;">-->
  <!--<pre>{{elements[0] | json}}</pre>-->

  <!--&lt;!&ndash;<div *ngFor="let l of elements">&ndash;&gt;-->
    <!--&lt;!&ndash;{{l | json}}&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--<p>-->
    <!--custom-decorators works!-->
  <!--</p>-->
  <!--<input [(ngModel)]="test" type="text">-->
  <!--<div style="height: 3000px; width: 30px; background-color: yellow">-->
  <!--</div>-->
<!--</div>-->
<!--<svg height="200" width="200" style="position: relative; cursor: normal; background-color: aliceblue; opacity: .7">-->
  <!--<line *ngFor="let l of elements" [attr.x1]="l.x1" [attr.y1]="l.y1" [attr.x2]="l.x2" [attr.y2]="l.y2" [style.stroke-width]="l.stroke" style="stroke:rgb(255,0,0);stroke-width:2"/>-->
  <!--&lt;!&ndash;<line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2"/>&ndash;&gt;-->
<!--</svg>-->
