<h3>Throttle decorator</h3>

<p>
  Mouse movements are throttled every 300ms. Move the mouse to see the throttling in effect
</p>

<pre *ngIf="mouseCoords?.x">{{mouseCoords | json}}</pre>

<div *ngIf="displayTip" class="alert alert-info">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
      </div>
      <span class="alert-text">Move the mouse over this window...</span>
    </div>
  </div>
</div>
