<p>
  ng-content works!
</p>
<app-view-child title="viewChild title from attribute">
  <em>This</em> is <span style="background-color: darkgreen; color: white;">HTML</span> <i>content</i> enclosed in the component app-view-child
</app-view-child>

<editable label="editable_label">
  This <em>is</em> <strong>editable</strong> <span style="border-radius: 5px; padding: 2px 5px; background-color: darkgreen; color: white;">HTML</span>
</editable>

<br><br>

<editable label="editable_two">
  This <em>is</em> <strong>editable</strong> <span style="border-radius: 5px; padding: 2px 5px; background-color: darkgreen; color: white;">HTML</span>
</editable>
