<div *ngIf="users">
  <table class="table table-striped">
    <thead>
    <tr>
      <th (click)="removeAll()"><clr-icon shape="trash" class="is-solid"></clr-icon></th>
      <th class="left">index</th>
      <th class="left">Name</th>
      <th class="left">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | async; let i = index">
      <td (click)="remove(i)">
        <clr-icon shape="trash"></clr-icon>
      </td>
      <td class="left">{{ i }}</td>
      <td class="left">{{ user.name }}</td>
      <td class="left">{{ user.email }}</td>
    </tr>
    </tbody>
  </table>
</div>
